
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// pokemon type colors
@import 'types';

// switchery
@import 'switcher';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

footer {
    background-color:#00A9ED;
}
#content {
    min-height:40em;
}
#intro {
    background-color:#00A9ED;
    min-height:9em;
}

#dex-outer {
    background-color:red;
    min-height:4em;
}

#dex {
    background-color:red;
}
